<div class="flex flex-col items-center justify-center w-full">
  <div class="flex flex-col bg-white p-3 shadow-md lg:rounded-lg lg:m-5 max-w-(--breakpoint-2xl)">
    <a aria-label="Link to App Store"
       class="text-blue-500 hover:text-blue-700 drop-shadow-xs hover:drop-shadow-md flex flex-row gap-4"
       href="https://apps.apple.com/en-us/app/laundry-symbols-ai-scanner/id6443902166" target="_blank">
      <fa-icon [icon]="faAppStore" class="sm:text-5xl text-3xl"></fa-icon>
      <h1 class="sm:text-5xl text-3xl">Laundry Symbols</h1>
    </a>


    <div class="flex flex-row flex-wrap">

      <!-- App Description -->
      <div class="lg:basis-1/2">
        <p class="text-justify mt-4" >Mit Laundry Symbols scannen Sie Kleidungsetiketten, während eine künstliche
          Intelligenz erkennt, welche Pflegehinweise zu beachten sind. Sie können auch das Symbol-Wiki durchsuchen, dort
          finden Sie Tipps für die optimale Reinigung Ihrer Kleidung. Laundry Symbols ist werbefrei und achtet auf
          Barrierefreiheit: lassen Sie sich Ergebnisse automatisiert in Ihrer Sprache vorlesen. Aktuell werden 27
          Sprachen unterstützt: Englisch, Deutsch, Bulgarisch, Tschechisch, Dänisch, Griechisch, Spanisch, Estnisch,
          Finnisch, Französisch, Ungarisch, Indonesisch, Italienisch, Japanisch, Litauisch, Lettisch, Niederländisch,
          Polnisch, Portugiesisch, Rumänisch, Russisch, Slowakisch, Slowenisch, Schwedisch, Türkisch, Ukrainisch,
          Chinesisch (einfach)</p>
      </div>

      <!-- App Screenshots -->
      <div class="flex flex-row flex-wrap gap-5 justify-center lg:basis-1/2">
        <img class="h-fit max-w-[250px]" src="assets/img/laundry_screen1.jpg">
        <img class="h-fit max-w-[250px]" src="assets/img/laundry_screen2.jpg">
      </div>
    </div>


    <!-- App Privacy -->
    <div>
      <h1 class="mb-2 mt-5 font-bold" >Datenschutz</h1>
      <p >Der verantwortliche Anbieter der App ist Johannes Bauer. Die Kontaktdaten entnehmen Sie bitte dem
        Impressum.</p>

      <h2 class="mb-2 mt-4 font-semibold" >Welche Daten werden gesammelt?</h2>
      <p >Es werden keine persönlichen Daten gespeichert.</p>

      <h2 class="mb-2 mt-4 font-semibold" >Wie lange werden die Daten gespeichert?</h2>
      <p >Es werden keine persönlichen Daten gespeichert.</p>

      <h2 class="mb-2 mt-4 font-semibold" >Analyse oder Verfolgung des Nutzungsverhaltens</h2>
      <p >Es gibt keine Nachverfolgung der Nutzer.</p>

      <h2 class="mb-2 mt-4 font-semibold" >Datenübermittlung an Dritte</h2>
      <p >Es werden keine Daten an Dritte weitergegeben.</p>

      <h2 class="mb-2 mt-4 font-semibold" >Rechte der Betroffenen</h2>
      <p >Auskunftsrecht Art. 15 DSGVO<br/>
        Berichtigungsrecht Art. 16 DSGVO<br/>
        Widerspruchsrecht Art. 21 DSGVO<br/>
        Recht auf Löschung und Einschränkung der Verarbeitung von Daten Art. 17 DSGVO<br/>
        Recht auf Vergessenwerden Art. 17 DSGVO<br/>
        Recht auf Datenübertragbarkeit Art. 20<br/>
        Recht auf Beschwerde bei Aufsichtsbehörden Art. 77 DSGVO<br/>
        Recht auf Widerruf von Einwilligungen Art. 7 Abs. 3 DSGVO</p>

    </div>

  </div>
</div>
