<div class="flex flex-col items-center justify-center w-full ">
  <div class="bg-white p-3 sm:rounded-lg shadow-md sm:m-5 max-w-screen-xl">
    <h1 class="first-headline" >Impressum</h1>

    <p >Johannes Bauer<br/>
      Nibelungenstra&szlig;e 7<br/>
      70191 Stuttgart</p>

    <h2 >Kontakt</h2>
    <p >Telefon: Auf Anfrage per Mail<br/>
      E-Mail: kontakt&#64;johannes-bauer.de</p>

    <h2 >Umsatzsteuer-ID</h2>
    <p >Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br/>
      DE340450523</p>

    <h2 >Gewerbeanmeldung</h2>
    <p >Die Gewerbeerlaubnis nach &sect;14 oder &sect;55c GewO wurde am 13.11.2023 von folgender Stelle erteilt:
      Landeshauptstadt Stuttgart.</p>

    <h2 >Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p >Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
      Verbraucherschlichtungsstelle
      teilzunehmen.</p>

    <p >Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
    </p>
  </div>
</div>
