<div class="flex items-start justify-center w-full">
  <div class="bg-white p-3 rounded-lg shadow-md sm:m-5 max-w-(--breakpoint-xl)">
    <h1 class="font-semibold"  id="headline">Allgemeine Geschäftsbedingungen</h1>
    <p class="text-justify" >Dieser Endbenutzer-Lizenzvertrag ("EULA") ist eine rechtliche Vereinbarung zwischen
      Ihnen
      und Johannes Bauer. Dieser EULA regelt Ihren Erwerb und Ihre Nutzung der Software direkt von Johannes Bauer oder
      indirekt über einen von Johannes Bauer autorisierten Wiederverkäufer oder Distributor (ein "Wiederverkäufer").
      Bitte lesen Sie diese EULA sorgfältig durch, bevor Sie den Installationsvorgang abschließen und die Software
      verwenden. Sie stellt eine Lizenz zur Nutzung der Software dar und enthält Informationen zur Gewährleistung und
      Haftungsausschlüsse. Wenn Sie sich für eine kostenlose Testversion der Software registrieren, gilt diese EULA auch
      für diese Testversion. Indem Sie auf "Akzeptieren" klicken oder die Software installieren und/oder verwenden,
      bestätigen Sie, dass Sie die Software akzeptieren und sich mit den Bedingungen dieser EULA einverstanden erklären.
      Wenn Sie diese EULA im Namen eines Unternehmens oder einer anderen juristischen Person abschließen, versichern
      Sie, dass Sie die Befugnis haben, dieses Unternehmen und seine Tochtergesellschaften an diese Bedingungen zu
      binden. Wenn Sie nicht über eine solche Befugnis verfügen oder mit den Bedingungen dieser EULA nicht einverstanden
      sind, dürfen Sie die Software nicht installieren oder verwenden und müssen diese EULA nicht akzeptieren. Dieser
      EULA gilt nur für die von Johannes Bauer hiermit gelieferte Software, unabhängig davon, ob auf andere Software
      Bezug genommen wird oder diese hier beschrieben wird. Die Bedingungen gelten auch für alle Updates, Ergänzungen,
      internetbasierten Dienste und Supportleistungen von Johannes Bauer für die Software, es sei denn, diesen Artikeln
      sind bei der Lieferung andere Bedingungen beigefügt. Wenn dies der Fall ist, gelten diese Bedingungen.</p>

    <h1 class="font-semibold" >Lizenz-Erteilung</h1>
    <p class="text-justify" >Johannes Bauer gewährt Ihnen hiermit eine persönliche, nicht übertragbare, nicht
      ausschließliche Lizenz zur Nutzung der Software auf Ihren Geräten gemäß den Bedingungen dieser EULA. Es ist Ihnen
      gestattet, die Software unter Ihrer Kontrolle zu laden (z.B. PC, Laptop, Handy oder Tablet). Sie sind dafür
      verantwortlich, dass Ihr Gerät die Mindestanforderungen der Software erfüllt. Sofern die jeweilige Software keine
      Lizenz vorsieht, ist es Ihnen nicht gestattet,: Die Software ganz oder teilweise zu bearbeiten, zu verändern, zu
      modifizieren, anzupassen, zu übersetzen oder anderweitig zu verändern, noch zuzulassen, dass die Software ganz
      oder teilweise mit anderer Software kombiniert oder in diese integriert wird, noch die Software zu dekompilieren,
      zu disassemblieren oder zurückzuentwickeln oder zu versuchen, derartige Dinge zu tun, die Software in einer Weise
      zu nutzen, die gegen geltendes lokales, nationales oder internationales Recht verstößt die Software für einen
      Zweck zu nutzen, der nach Ansicht von Johannes Bauer einen Verstoß gegen diesen EULA darstellt Geistiges Eigentum
      und Eigentum Johannes Bauer bleibt zu jeder Zeit Eigentümer der Software, so wie sie ursprünglich von Ihnen
      heruntergeladen wurde und aller nachfolgenden Downloads der Software durch Sie. Die Software (sowie das
      Urheberrecht und andere geistige Eigentumsrechte jeglicher Art an der Software, einschließlich aller daran
      vorgenommenen Änderungen) sind und bleiben das Eigentum von Johannes Bauer. Johannes Bauer behält sich das Recht
      vor, Lizenzen zur Nutzung der Software an Dritte zu vergeben.</p>

    <h1 class="font-semibold" >Kündigung</h1>
    <p class="text-justify" >Dieser EULA gilt ab dem Datum, an dem Sie die Software zum ersten Mal nutzen, und
      bleibt bis
      zu seiner Beendigung in Kraft. Sie können ihn jederzeit durch schriftliche Mitteilung an Johannes Bauer kündigen.
      Er endet auch sofort, wenn Sie eine der Bedingungen dieses EULAs nicht einhalten. Bei einer solchen Beendigung
      erlöschen die durch diesen EULA gewährten Lizenzen sofort, und Sie verpflichten sich, jeglichen Zugriff auf die
      Software und deren Nutzung einzustellen. Die Bestimmungen, die ihrer Natur nach fortbestehen und überleben,
      überdauern jede Beendigung dieser EULA.</p>

    <h1 class="font-semibold" >Geltendes Recht</h1>
    <p class="text-justify" >Diese EULA und alle Streitigkeiten, die sich aus oder in Verbindung mit dieser EULA
      ergeben,
      unterliegen den Gesetzen Deutschlands und sind entsprechend auszulegen.</p>
  </div>
</div>
