<div class="flex flex-col items-center justify-center w-full">
  <div class="flex flex-col bg-white p-3 shadow-md lg:rounded-lg lg:m-5 max-w-(--breakpoint-2xl)">

    <!-- Title -->
    <a aria-label="Link to App Store"
       class="text-blue-500 hover:text-blue-700 drop-shadow-xs hover:drop-shadow-md flex flex-row gap-4 justify-center"
       href="https://apps.apple.com/app/id1560674176" target="_blank">
      <fa-icon [icon]="faAppStore" class="sm:text-5xl text-3xl"></fa-icon>
      <h1 class="sm:text-5xl text-3xl">Daylight</h1>
    </a>

    <!-- App Screenshots -->
    <div class="flex flex-row flex-nowrap gap-1 justify-start md:justify-center mt-4 overflow-auto">
      <img class="max-w-[150px] md:max-w-[250px] lg:max-w-[300px] w-full" src="assets/img/daylight1.jpeg">
      <img class="max-w-[150px] md:max-w-[250px] lg:max-w-[300px] w-full" src="assets/img/daylight2.jpeg">
      <img class="max-w-[150px] md:max-w-[250px] lg:max-w-[300px] w-full" src="assets/img/daylight3.jpeg">
    </div>

    <!-- App Description -->
    <div>
      <p class="mt-4" >Wir stellen vor: Daylight - Ihr ultimativer Begleiter für Sonnenaufgang und
        Sonnenuntergang.
        Entdecken Sie die Schönheit der atemberaubendsten Momente der Natur mit Daylight, der unverzichtbaren App für
        die Verfolgung der Sonnenauf- und -untergangszeiten an mehreren Orten. Verpassen Sie nie wieder einen magischen
        Moment, denn Daylight hält Sie auf dem Laufenden und verzaubert Sie mit den spektakulären Schauspielen der
        Natur.</p>

      <p class="mt-2 font-semibold" >Wichtigste Features:</p>
      <ul class="list-disc list-inside">
        <li >Erkunden Sie die Sonnenaufgangs- und Sonnenuntergangszeiten für jeden beliebigen Ort auf der Erde -
          tippen
          Sie einfach auf eine Karte oder suchen Sie nach einem bestimmten Ort, um ihn zu Ihrer Liste hinzuzufügen.
        </li>
        <li >Personalisiertes Erlebnis - Erstellen und verwalten Sie mühelos eine Liste Ihrer Lieblingsorte, die auf
          Ihre
          Vorlieben und Interessen zugeschnitten ist.
        </li>
        <li >Sicher und privat - Ihre Standortliste wird sicher verschlüsselt und in der Apple iCloud gespeichert,
          damit
          Ihre Daten vertraulich bleiben.
        </li>
        <li >Nahtlose Synchronisierung - Ihre Liste wird automatisch mit all Ihren Geräten synchronisiert, sodass
          Sie
          immer die genauesten Sonnenaufgangs- und Sonnenuntergangszeiten zur Hand haben.
        </li>
        <li >Apple watchOS App - schneller und einfacher Zugriff auf die Sonnenaufgangs- und Sonnenuntergangszeiten
          für
          Ihre gespeicherten Standorte direkt an Ihrem Handgelenk.
        </li>
        <li >Minimalistisches Design - genießen Sie eine elegante, übersichtliche Oberfläche, die es Ihnen
          ermöglicht,
          sich auf das Wesentliche zu konzentrieren: die beeindruckende Schönheit der Sonne.
        </li>
        <li >Multiplattform-Verfügbarkeit - genießen Sie Daylight auf iOS, macOS, iPadOS und watchOS, um ein
          konsistentes
          und nahtloses Erlebnis auf all Ihren Apple-Geräten zu gewährleisten.
        </li>
      </ul>
      <p class="mt-2" >Daylight ist der perfekte Begleiter für Naturliebhaber, Fotografen, Reisende und alle, die
        mit den
        faszinierendsten Lichtspielen der Welt in Verbindung bleiben wollen. Laden Sie Daylight noch heute herunter und
        erleben Sie die tägliche Reise der Sonne wie nie zuvor. Halten Sie das Wunder jedes neuen Tages mit Daylight
        fest - Ihrem ultimativen Sonnenaufgangs- und Sonnenuntergangs-Tracker.</p>
    </div>


    <!-- App Privacy -->
    <div>
      <h1 class="mb-2 mt-5 font-bold" >Datenschutz</h1>
      <p >Der verantwortliche Anbieter der App ist Johannes Bauer. Die Kontaktdaten entnehmen Sie bitte dem
        Impressum.</p>

      <h2 class="mb-2 mt-4 font-semibold" >Welche Daten werden gesammelt?</h2>
      <p >Es werden keine persönlichen Daten gespeichert.</p>

      <h2 class="mb-2 mt-4 font-semibold" >Wie lange werden die Daten gespeichert?</h2>
      <p >Es werden keine persönlichen Daten gespeichert.</p>

      <h2 class="mb-2 mt-4 font-semibold" >Analyse oder Verfolgung des Nutzungsverhaltens</h2>
      <p >Es gibt keine Nachverfolgung der Nutzer.</p>

      <h2 class="mb-2 mt-4 font-semibold" >Datenübermittlung an Dritte</h2>
      <p >Es werden keine Daten an Dritte weitergegeben.</p>

      <h2 class="mb-2 mt-4 font-semibold" >Rechte der Betroffenen</h2>
      <p >Auskunftsrecht Art. 15 DSGVO<br/>
        Berichtigungsrecht Art. 16 DSGVO<br/>
        Widerspruchsrecht Art. 21 DSGVO<br/>
        Recht auf Löschung und Einschränkung der Verarbeitung von Daten Art. 17 DSGVO<br/>
        Recht auf Vergessenwerden Art. 17 DSGVO<br/>
        Recht auf Datenübertragbarkeit Art. 20<br/>
        Recht auf Beschwerde bei Aufsichtsbehörden Art. 77 DSGVO<br/>
        Recht auf Widerruf von Einwilligungen Art. 7 Abs. 3 DSGVO
      </p>
    </div>
  </div>
</div>
