<div class="flex flex-col items-center justify-center w-full">
  <div class="flex flex-col bg-white p-3 shadow-md lg:rounded-lg lg:m-5 max-w-screen-2xl">

    <!-- Title -->
    <a aria-label="Link to App Store"
       class="text-blue-500 hover:text-blue-700 drop-shadow-sm hover:drop-shadow-md flex flex-row gap-4 justify-center"
       href="https://apps.apple.com/en/app/partywheel-kurze-partyspiele/id6463636342" target="_blank">
      <fa-icon [icon]="faAppStore" class="sm:text-5xl text-3xl"></fa-icon>
      <h1 class="sm:text-5xl text-3xl">Partywheel</h1>
    </a>

    <!-- App Screenshots -->
    <div class="flex flex-row flex-nowrap gap-1 justify-start md:justify-center mt-4 overflow-auto">
      <img class="max-w-[150px] md:max-w-[250px] lg:max-w-[300px] w-full border-2"
           src="assets/img/partywheel-1.png">
      <img class="max-w-[150px] md:max-w-[250px] lg:max-w-[300px] w-full border-2"
           src="assets/img/partywheel-2.png">
    </div>

    <!-- App Description -->
    <div>
      <p class="mt-4" >Bring Deine Spieleabende auf ein neues Level!
        Entdecke "Partywheel" Dein unverzichtbarer Party-Partner für unvergessliche Abende voller Spaß, Spannung und
        Herausforderungen. Ideal für Hauspartys und gesellige Events – unser interaktives Glücksrad revolutioniert deine
        klassischen Partyspiele.</p>
      <p class="mt-2 font-semibold" >Funktionen</p>
      <ul class="list-disc list-inside">
        <li >Drehen und Gewinnen</li>
        <li >Ein einfacher Dreh entscheidet über Dein Schicksal.</li>
        <li >Easy to Play - Einfach zu spielen, keine komplizierten Regeln</li>
      </ul>
      <p class="mt-2 font-semibold" >Spielanleitung</p>
      <ol class="list-decimal list-inside">
        <li >Trommle Deine Freunde zusammen und starte die App.</li>
        <li >Jeder darf reihum das Rad drehen.</li>
        <li >Führe die Aktion oder Aufgabe aus, die das Rad vorgibt.</li>
        <li >So lange drehen, bis ihr beschließt, den Abend ausklingen zu lassen.</li>
      </ol>
    </div>


    <!-- App Privacy -->
    <div>
      <h1 class="mb-2 mt-5 font-bold" >Datenschutz</h1>
      <h2 class="mb-2 mt-4 font-semibold" >Einleitung</h2>
      <p >
        Diese Datenschutzrichtlinie beschreibt, wie Johannes Bauer IT personenbezogene Daten von Nutzern erhebt,
        verwendet und schützt, in Übereinstimmung mit der Allgemeinen Datenschutzverordnung (DSGVO). Unser Anliegen ist
        es, Ihre Privatsphäre zu schützen und Transparenz in unseren Datenverarbeitungspraktiken zu gewährleisten.
      </p>

      <h2 class="mb-2 mt-4 font-semibold" >Informationen zum Verantwortlichen</h2>
      <p>
        <b >Firmenname: </b>Johannes Bauer IT<br>
        <b >Adresse: </b>Nibelungenstraße 7, 70191 Stuttgart<br>
        <b >Kontakt: </b> kontakt&#64;johannes-bauer.de
      </p>

      <h2 class="mb-2 mt-4 font-semibold" >Arten der gesammelten Daten</h2>
      <p >
        Unsere App nutzt AdMob, um Anzeigen zu schalten, was die Sammlung folgender Datenarten beinhaltet:
      </p>
      <ul class="list-disc list-inside">
        <li >Geräteinformationen: Beinhaltet Gerätetyp, Betriebssystem, Hardwareversion und Netzwerkinformationen.
        </li>
        <li >Protokolldaten: IP-Adressen, App-Aktivitätsprotokolle und Absturzberichte.</li>
        <li >Nutzerinteraktionen: Interaktionen mit Anzeigen und In-App-Käufen.</li>
        <li >Identifikatoren: Eindeutige Geräteidentifikatoren (z.B. IDFA), Cookies und ähnliche
          Tracking-Technologien.
        </li>
      </ul>

      <p >
        Für eine detaillierte Liste siehe bitte <a class="hover:underline"
                                                   href="https://developers.google.com/admob/ios/privacy/data-disclosure?hl=de">Googles
        Offenlegungsanforderungen für Daten bei AdMob.</a>
      </p>

      <h2 class="mb-2 mt-4 font-semibold" >Zweck der Datenverarbeitung</h2>
      <p >
        Die gesammelten Daten werden zu folgenden Zwecken verwendet:
      </p>
      <ul>
        <li >Anzeigenzielgruppierung: Um personalisierte Werbung basierend auf den Präferenzen und Interaktionen der
          Nutzer anzuzeigen.
        </li>
        <li >App-Analytics: Um die Nutzung der App und das Engagement der Nutzer zu analysieren und die Leistung der
          App
          zu verbessern.
        </li>
        <li >Sicherheit und Betrugserkennung: Um betrügerische Aktivitäten zu identifizieren und zu verhindern und
          die
          Sicherheit unserer Dienste zu gewährleisten.
        </li>
      </ul>

      <h2 class="mb-2 mt-4 font-semibold" >Rechtsgrundlage für die Verarbeitung</h2>
      <p >
        Die Verarbeitung personenbezogener Daten basiert auf der ausdrücklich über unsere App-Schnittstelle eingeholten
        Zustimmung der Nutzer. Nutzer können ihre Zustimmung jederzeit widerrufen, indem sie ihre Geräteeinstellungen
        anpassen oder uns direkt kontaktieren.
      </p>

      <h2 class="mb-2 mt-4 font-semibold" >Datenweitergabe und Offenlegung</h2>
      <p >
        Wir teilen gesammelte Daten mit Google AdMob zum Zweck der Zielgruppenausrichtung und Analyse. Alle
        Drittanbieter-Partner verpflichten sich zur Einhaltung der DSGVO und zum Datenschutz.
      </p>

      <h2 class="mb-2 mt-4 font-semibold" >Rechte der Benutzer</h2>
      <p >Nach der DSGVO haben Benutzer das Recht,:</p>
      <ul>
        <li >Zugang: Eine Kopie der über sie gespeicherten personenbezogenen Daten anzufordern.</li>


        <li >Berichtigung: Unrichtige oder unvollständige Daten zu korrigieren.</li>
        <li >Löschung: Die Löschung ihrer personenbezogenen Daten zu beantragen.</li>
        <li >Einschränkung der Verarbeitung: Die Verwendung ihrer Daten zu begrenzen.</li>
        <li >Datenübertragbarkeit: Ihre Daten in einem strukturierten, gängigen Format zu erhalten.</li>
      </ul>
      <p >
        Um diese Rechte auszuüben, kontaktieren Sie uns bitte unter den in Abschnitt 2 angegebenen Details.
      </p>

      <h2 class="mb-2 mt-4 font-semibold" >Datensicherheit</h2>
      <p >
        Wir implementieren robuste Sicherheitsmaßnahmen, um Ihre Daten vor unbefugtem Zugriff, Veränderung, Offenlegung
        oder Zerstörung zu schützen. Dazu gehören Verschlüsselung, Zugangskontrollen und sichere Datenspeicherlösungen.
      </p>

      <h2 class="mb-2 mt-4 font-semibold" >Datenaufbewahrung</h2>
      <p >
        Personenbezogene Daten werden nur so lange aufbewahrt, wie es notwendig ist, um die in dieser Richtlinie
        dargelegten Zwecke zu erfüllen, danach werden sie sicher gelöscht.
      </p>

      <h2 class="mb-2 mt-4 font-semibold" >Internationale Datenübertragungen</h2>
      <p >
        Daten können an einen Bestimmungsort außerhalb des Europäischen Wirtschaftsraums (EWR) übertragen und dort
        gespeichert werden, jedoch nur in Übereinstimmung mit rechtlichen Anforderungen, die angemessene Schutzniveaus
        für Daten gewährleisten.
      </p>

      <h2 class="mb-2 mt-4 font-semibold" >Änderungen der Datenschutzrichtlinie</h2>
      <p >
        Wir behalten uns das Recht vor, diese Richtlinie jederzeit zu aktualisieren. Änderungen werden den Nutzern über
        unsere App oder per E-Mail mitgeteilt.
      </p>


    </div>

  </div>
</div>
